@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/variable/pretendardvariable.css');

$font-base: 'Pretendard Variable', -apple-system, sans-serif;

$font-size-lv1: 4rem;
$font-size-lv2: 40px;
$font-size-lv3: 26px;
$font-size-lv4: 26px;
$font-size-lv5: 22px;

$font-size-lv1-sm: 2.6rem;
$font-size-lv3-sm: 26px;
$font-size-lv4-sm: 20px;
$font-size-lv5-sm: 18px;

@mixin small {
  @media all and (width < 992px) {
    @content;
  }
}
